.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github 
            |Continue with Github
    button.social-login--google
        a(href=routes.google)
            span
                i.fab.fa-google
            |Continue with Google
    button.social-login--naver
        a(href=routes.naver)
            span
                i.xi-naver-square.xi-x
            |Continue with Naver